<li>
    <%= gravatar_for user, option: 50 %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, data: { turbo_confirm: "You sure?", "turbo-method": :delete } %>
    <% end %>
</li>
